  img{
  margin: 30px 60px;
  }
        
        body.theme1 {     
	background-image: url('where-did-the-griffins-went-wrong-answers-only-v0-eejd8vk3qzhb1.png');
	}	
        body.theme2 {     
	background-image: url('pleaceholder.png');
	}	
        body.theme3 {     
	background-image: url('blerm.png');
	}	
	body{	
 		background-repeat: no-repeat;
		background-size: cover;
            background-attachment: fixed;
        }
